# Ignore everything in the data and output folders
data/**
outputs/**

# Python specific
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/

# LOGs
*.log

# OS
.DS_Store
Thumbs.db
desktop.ini

# SDK
*.dll
thorlabs_tsi_logger.cfg